/* UNIVERSAL STYLES */
html {
  box-sizing: border-box;
  font: 18px Helvetica, sans-serif;
  line-height: 1.4;
  /* opacity: 0.8; */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin-top: 0;
  max-width: 1100px;
  margin: 0 auto;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  background-color: cadetBlue;
  height: 3rem;
  position: fixed;
  border-bottom: 2px solid #36454F;
  border-top: 2px solid #F5F5F5;
  width: 100%;
  max-width: 1100px;
}

.logo_white {
  height: 1.5rem;
}

.logo_white img {
  height: 1.5rem;
  margin-left: 1rem;
  filter: drop-shadow(1px 2px 0px #36454F);
}

.title {
  color: White;
  margin-left: 1rem;
  flex: none;
  text-shadow: 1px 2px 0px #283744;
}

/* DROPDOWN MENU: */
.dropdown {
    margin-left: auto;
    height: 3.2rem;
    width: 3.2rem;
}

/* Hamburger icon */
.dropbtn {
    margin-right: auto;
    margin-top: 0.75rem;
    height: 1.5rem;
    width: 1.5rem;
    filter: drop-shadow(1px 2px 0px #36454F);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 3rem;
    right: 1rem;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #36454F;
    font-weight: bold;
    text-shadow: 1px 1px 0px lightGrey;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightGrey;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: Grey;}


/* HERO IMAGE */
.hero_image {
  background-image: url(../resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: 20%;
  background-size: cover;
  width: 100%;
  height: 17rem;
  border: 1px solid Silver;
}

.title_box {
  width: 100%;
  height: 3rem;
  margin-top: 13rem;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #36454F;
  border-top: 2px solid White;
  text-shadow: 2px 1px 0px cadetBlue;
}

.title_box span {
  font-size: 1.35rem;
  text-shadow: none;
}

/* SERVICES  */ /* comment out the multi-colored borders after layout is done */
.services {
  display: flex;
  justify-content: center;
  margin: 2rem;
  flex-flow: row wrap;
    border: 1px solid red;
}

.services figure {
  width: 12rem;
  height: auto;
  margin: 1rem;
  text-align: center;
    border: 1px solid blue;
}

.image_wrapper {
  height: 9rem;
  margin: 0.25rem;
  text-align: center;
    border: 1px solid purple;
}

.image_wrapper img {
  max-width: 95%;
  height: auto;
    border: 1px solid green;
}

.services figcaption {
  margin: 0.25rem;
  display: flex;
  justify-content: center;
    border: 1px solid purple;
}

.services h3 {
  text-align: center;
  flex: 0;
    border: 1px solid green;
}

/* INFO */
.info {
  display: flex;
  justify-content: center;
  margin: 2rem;
  flex-flow: row wrap;
    border: 1px solid red;
}

.info table {
  width: 20rem;
  height: auto;
  margin: 1rem;
  text-align: center;
    border: 1px solid blue;
}

.info .table_header {
  margin: 0.25rem 0;
  height: 3rem;
  background-color: cadetBlue;
  color: White;
  text-shadow: 1px 2px 0px #283744;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-bottom: 2px solid #36454F;
  border-top: 2px solid White;
}


/* FOOTER */
footer {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
    border: 1px solid red;
}

.logo_black { /* this wrapper allows the image size to be reduced and the iamge to be true center horizontaly */
  height: 2rem;
  width: 6rem;
  border: 1px solid blue;
  margin: 2rem;
}

.logo_black img {
  height: 95%;
  border: 1px solid green;
}

/* MEDIA QUERIES: */
@media screen and (max-width:#px) {
    selector {
        property: value;
    }
}
